<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LEZBLOGUE {% block title %}{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    {% block javascripts %}
        {#{{ encore_entry_script_tags('app') }}#}
    {% endblock %}
</head>
<body>
{% block header %}
{% endblock %}
<div style="margin:10px;">
    {% block body %}
    {% endblock %}
</div>
</body>
</html>
